div img {
    width: 100%;
}

div.subMenu {
    background: #752a09;
    color: white;
    height: 756px;
    font-family: 'sbModern';
    font-size: 20px;
}

div.slide-imgs {
    width: 100%;
}

div div div ul {
    display: flex;
    font-size: 10px;
}

div div i.left, div div i.right {
    font-size: 20px;
}

div div.container {
    color: white;
    display: flex;
    position: fixed;
    top: 20%;
    left: 0;
}

div div div.container.dot {
    justify-content: center;
}

div div div.container.right {
    justify-content: flex-end;
}

div div div.container.left {
    justify-content: start;
}