<div class="container pt-3 pb-3">
  <div class="pb-2">
    <h1>ติดต่อเรา</h1>
  </div>
  <div class="pt-1 pb-1"><i class="fas fa-phone-square pl-1 pr-2"></i>
    <p>081-321-3500</p>
  </div>
  <div class="pt-1 pb-1"><i class="fab fa-facebook-square pl-1 pr-2"></i>
    <p>พูนทรัพย์วัสดุก่อสร้าง ห้วยใหญ่</p>
  </div>
  <div class="pt-1 pb-1"><i class="fab fa-line pl-1 pr-2"></i>
    <p>081-321-3500</p>
  </div>
  <div class="pt-1 pb-1"><i class="fas fa-map-marker-alt pl-1 pr-2"></i>
    <p>58/4 ม.1 ต.ห้วยใหญ่ อ.บางละมุง จ.ชลบุรี 20150</p>
  </div>
</div>